langchain
python-dotenv
langchain-community
pypdf
langchain-text-splitters
sentence_transformers
langchain_huggingface
chromadb
langchain_chroma
langchain_core
streamlit
langchain_groq
pymupdf
fpdf
datetime
pydub
SpeechRecognition
ffmpeg-python
moviepy
openai-whisper
transformers
google-cloud-speech
SpeechRecognition[whisper-local]
soundfile
pysqlite3-binary

